.whole-page {
   font-family: Arial, Helvetica, sans-serif;
   font-size: var(--size-30);
   font-weight: 700;
   display: grid;
   grid-template-columns: 1fr 4fr 3fr 1fr;
   grid-template-rows: repeat(auto-fill, 1fr);
   /* grid-row: 3; */
   row-gap: var(--size-10);
   padding: var(--size-16);
   padding-top: var(--size-25);
   /* border: 2px solid blue; */
}

             /* 1st Row */

.l1 {color: dodgerblue;}
.l2 {color: red;}
.l3 {color: gold;}
.l4 {color: var(--cornflowerblue);}
.l5 {color: forestgreen;}
.l6 {color: red;}

.search-field {
   height: var(--size-40);
   /* margin-top: -5px; */
   border: 1px solid var(--lightest-grey);
   border-radius: 100px;
   box-shadow: 3px 4px 2px var(--lightest-grey);
   color: var(--light-grey);
   padding-left: 20px;
}

.q-text {
   color: var(--black);
   font-size: var(--size-16);
   padding-top: var(--size-10);
}

.sf-end {
   margin-top: 5px;
   font-size: var(--size-25);
   padding-left: var(--size-60);
}

.search-field > span {
   float: left;
}

.right-side {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: var(--size-10);
   gap: var(--size-10);
   margin-top: 0;
   font-size: var(--size-20);
   float: left;
   /* border: 2px solid green; */
}

.rs-icons {
   margin-top: 5px;
}

             /* 2nd Row */

.nav-row2-container {
   grid-column: 2;
   margin-top: var(--size-10);
   font-family: Arial, Helvetica, sans-serif;
   font-size: var(--size-16);
   color: var(--light-grey);
}

.myspace {
   padding-right: var(--size-10);
}

.myspace2 {
   padding-right: 0;
   margin-right: 0;
}

.myspace3 {
   padding-left: 0;
   margin-left: 0;
}

.mytools {
   padding-left: var(--size-55);
}

.nav-row2a {
   grid-column: 2;
   color: var(--black);
   margin-left: -8px;
}

.nav-row3 {
   grid-row: 3;
   margin-top: -14px;
   grid-column: 1 / 9;
   border-top: 2px solid var(--lightest-grey);
}

             /* 3rd Row */

.answers {
   grid-column: 2;
   grid-row: 4;
   font-size: var(--size-30);
   font-weight: 100;
}

.answers-container {
   font-size: var(--size-18);
   font-weight: 200;
   margin-top: var(--size-16);
}

.ans1 {
   font-size: var(--size-20);
   font-weight: 300;
}

.ans1a {
   background-color: #d8dffe;
}

.ans2 {
   font-size: var(--size-20);
}

.ans2a {
   font-size: var(--size-14);
   color: var(--med-grey);
}

.ans3 {
   margin-top: var(--size-20);
}

.nav-row4 {
   grid-row: 5;
   grid-column: 2;
   border-top: 2px solid var(--lightest-grey);
}

             /* 4th Row */

.people-also-ask {
   grid-row: 6;
   grid-column: 2;
   margin-top: var(--size-40);
   font-size: var(--size-20);
   font-weight: 50;
   border-bottom: 2px solid var(--lightest-grey);
   padding-bottom: var(--size-10);
}

             /* 5th Row */

.p-a-a-q1 {
   grid-row: 7;
   grid-column: 2;
   margin-top: var(--size-5);
   font-size: var(--size-20);
   font-weight: 50;
   border-bottom: 2px solid var(--lightest-grey);
   padding-bottom: var(--size-10);
   padding-top: 0;
}

.position-drop-down-arrow {
   position: absolute;
   grid-row: 7;
   grid-column: 5;
   right: var(--size-640);
   margin-top: -15px;
   /* border: 2px solid black; */
}

             /* 5th Row */

.p-a-a-q1 {
   grid-row: 7;
   grid-column: 2;
}

             /* 6th Row */

.p-a-a-q2 {
   grid-row: 8;
   grid-column: 2;
}

             /* 7th Row */

.p-a-a-q3 {
   grid-row: 9;
   grid-column: 2;
 }

             /* 8th Row */

.p-a-a-q4 {
   grid-row: 10;
   grid-column: 2;
 }

.p-a-a-q-common {
   margin-top: var(--size-5);
   font-size: var(--size-20);
   font-weight: 50;
   border-bottom: 2px solid var(--lightest-grey);
   padding-bottom: var(--size-10);
   padding-top: 0;
}

.position-drop-down-arrow {
   position: absolute;
   grid-row: 7;
   grid-column: 5;
   right: var(--size-640);
   margin-top: -15px;
   /* border: 2px solid black; */
}



